header{
    text-align: center;
    background-color: darkslategrey;
    height: 155px;
    padding-top:35px;
    }
nav{
    text-align: center;
    background-color: gray;
    margin-top:4px;
    margin-bottom:4px;
    padding: 2px;
    }
section{
        background-color: lightgray;
         text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;}
footer{
        text-align: center;
        background-color: darkslategrey;
        margin-top: 4px;
        padding: 2px;}
h1{
    color: azure;
  }