header{
    text-align: center;
    background-color: darkslategrey;
    height: 155px;
    padding-top:35px;
    }
nav{
    text-align: center;
    background-color: gray;
    margin-top:4px;
    margin-bottom:4px;
    padding: 2px;
    }
section{
        background-color: lightgray;
         overflow: hidden;}

.slideshow{background-color: slategray;
          text-align: center;
          margin:5px;
          padding-top: 40px;
          padding-bottom: 40px;

}

.column{
    
    width:32.4%;
    background-color: aliceblue;
    display: inline-block;
    height: 200px;
    margin-left: 10px;}

footer{
        text-align: center;
        background-color: darkslategrey;
        margin-top: 4px;
        padding: 2px;}
h1{
    color: azure;
  }
h2{color: azure;}
.grid{
 margin-top: 50px;
margin-bottom: 50px;}
