*{margin: 0;
padding: 0;}
nav{
    background-color: #333333;

}
li{
    display: inline-block;
    font-family: Roboto;
    font-size: 27px;
   font-weight: 500;
    line-height: 32px;
    color: #FFFEFE;
    padding-right: 50px;

}
ul{
    padding-left: 152px;
    padding-right: 151px;
    padding-top: 48px;
    padding-bottom: 49px;
    text-align: center;
}
header img{
    width: 218px;
    height: 146px;
    padding-left: 112px;
    padding-top: 26px;
    padding-bottom: 37px;
    
    
}
.secnav{
    display: table;
    width: 100%;
}
.navimg{
    display: table-cell;
}
.firstline{
    font-family: Roboto;
   font-size: 26px;
   font-weight: 400;
    line-height: 30px;
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding-top: 75px;
    padding-right: 69px;
}

.indo{
    display: inline-block;
    width: 33.1%
}
.indo h2{
    font-family: Roboto;
font-size: 38px;
font-weight: 400;
line-height: 45px;
color: #343434;
text-align: left;
padding-bottom: 23px;

}
.indo p{
    font-family: Roboto;
font-size: 23px;
font-weight: 300;
line-height: 35px;
color: #343434;
text-align: left;
padding-top: 61px;
padding-bottom: 14px;
margin-right: 121px;
}
.indo .con{
    font-family: Roboto;
font-size: 29px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #6D9D34;
}
.firstsec{
    background: #F3F2EE;
}
.indo img{
    width: 369px;
    height: 278px;
    
}
.indo .border{
    border:1px solid #6F6C6C;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 92px;

}
.firstsec {
    padding-top: 72px;
   padding-left: 38px;
   padding-bottom: 13px;

}
.secthree{
    padding-top: 97px;
    padding-left: 38px;
    background: #E5E5E5;

}
.leftone{
    width: 60%;
    display: inline-block;
}
.grid{
    margin-top: 40px;
}
.book{
    display: inline-block;
    width:31%;
}
.book img{
    width: 183px;

}
.ametone{
    padding-top: 130px;
}
.ametone h3{
    font-family: Roboto;
    font-size: 43px;
    font-weight: 400;
    line-height: 66px;
    color: #8F8F8F;
    border-bottom: 1px solid #000000;

    
}
.ametone img{
    width: 202px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;

}
.ametborder{
    border: 1px solid #000000;

    display: inline-block;
    margin-top: 72px;

}

.ametborder h4{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 31px;

}
.para {
    display: inline-block;
    width: 60%;

    vertical-align: top;
    margin-top: 60px;
    margin-left: 20px;
}
.para h4{padding-bottom: 23px;
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 31px;
color: #8F8F8F;


}
.para p{
    padding-bottom: 5px;
    margin-right: 128px;
color: #8F8F8F;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21px;


}
.para .p{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25px;
color: #8F8F8F;



}
.pa{font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #8F8F8F;
    padding-top: 42px;
    text-align: left;
    

}
.amettwo{
    display: inline-block;
    width: 37%;
    vertical-align: top;
    padding-left: 20px;
}
.amettwo h3{
    font-family: Roboto;
font-size: 43px;
font-weight: 400;
line-height: 66px;
color: #8F8F8F;
border-bottom:1px solid #949393 ;



}
.phabor{
    display: inline-block;
     border:1px solid #7B7979;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 19px;
     padding-right: 19px;
}
.smalltop{
    display: inline-block;
    float: right;
    width: 55%;
}
.smalltop h4{font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 37px;
    color: #6C6C6C;
    
}
.phabor img{
    width: 164px;
}
.smalltop p{
    font-family: Roboto;
font-size: 20px;
font-weight: 300;
line-height: 34px;
color: #707070;

}
.phaone .green{
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 37px;
color: #6D9D34;
text-align: right;
padding-top: 17px;
padding-bottom: 18px;

}
.phaone {
    padding-top: 30px;
    border-bottom: 1px solid #949393;
}
footer{
    background-color: #333333;
    padding-top: 63px;
    

}
footer h3{
    font-family: Roboto;
font-size: 43px;
font-weight: 400;
line-height: 66px;
color: #B1B1B1;
border-bottom: 1px solid#F0F0F0;

}
.about{
    display: inline-block;
    width: 40%;
    padding-left: 44px;
    padding-bottom: 57px;
    
}
.usbor{
    border: 1px solid #C2C2C2;
    display: inline-block;
    margin-top: 26px;
}
.usbor img{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 11px;
    padding-right: 11px;
}
.ab{
    display: inline-block;
    width: 40%;
    margin-top: 28px;
    float: right;
    margin-right: 90px;
}
.ab h4{
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 41px;
color: #FFFFFF;


}
.ab p{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 22px;
color: #FFFFFF;
}
.about p{
    font-family: Roboto;
font-size: 19px;
font-weight: 400;
line-height: 23px;
color: #FFFFFF;
padding-top: 15px;

}
.mor{
    margin-top: 18px;
}
.latest{
    display: inline-block;
    width: 28%;
    vertical-align: top;
    padding-left: 21px;
    padding-bottom: 57px;
    
}
.latest img{
    width: 111px;
}
.first3{
    padding-top: 26px;
    padding-bottom: 50px;
    
}

  .six{
    padding-left: 16px;
    width: 111px;
    display: inline-block;
  }  

.contact{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-left: 32px;
    width: 22%;
    padding-bottom: 57px;


}
.contact p{
    font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 41px;
color: #FFFFFF;

}
.details{
    padding-top: 25px;
}
.contact a{
    color: #6D9D34;
}

footer .last{
    background-color: #777777;
}

.last p{
    font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 41px;
color: #D7E8B9;
display: inline-block;

}
.template{
    text-align: right;
    float: right;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 28px;
}
.copy{
    padding-left: 41px;
    padding-bottom: 23px;
    padding-top: 23px;
}



