
.nav{
    background-color: #333;
    text-align: center;
    }
.head2{
    color: black;
    }
form{
    margin:auto;
    width: 50%;
    } 
label{
    width: 120px;
    display: inline-block;
    }
input{ 
     width:40;
    border:1px solid lightgrey;
    border-bottom: 1px solid yellow;
    }
li{
    color: black;
    }
h2{
    color: red;
    }
ul{
    background-color: yellow;
    border: 1px solid yellow;
    }
ol{
    background-color: yellow;
    border:1px solid yellow;
    }
.display{
    display: inline-block;
    width: 40%;
}
.dis{
    display: inline-block;
    width: 40%;
    }
.box{
    display: inline;
    width: 40%;
    }
Input[type=submit]{
    margin-left: 50%;
    background-color: yellow;
    color: #fff;
    border: 1px solid yellow;
}
a{
    display: inline-block;
    color: azure;
    font-size: 20;
    padding: 20px;
}


