*{margin: 0;
padding: 0;}
header{background-color: black;
    text-align: center;
    padding: 35px;
}
h1{color: azure;}
nav{background-color: darkgrey;}
h2{color: azure;
padding: 5px;
margin-left: 230px;}
section{width: 70%;
    padding: 20px;
    margin: 0 auto;

}
.main{
    background-color: gray;
    width:65%;
    height: 300px;
    display: inline-block;
    text-align: center;
    padding-top: 150px;

}
.side{
    background-color: darkgrey;
    width:30%;
    height: 300px;
    display:inline-block;
    text-align: center;
    padding-top: 150px;
}
footer{background-color: black;
text-align: center;
padding: 35px;}

